<div class="row" style="margin-top:15px; margin-bottom:-20px; bottom-border: 1px">
    <div class="four columns">
      <a href="../">
        <img src="../images/logo_new.png">
      </a>
    </div>
    <div class="four columns">
      <form id="search" action="/search" method="get">
        <input id="clear" type="text" placeholder="" name="q" style="height:36px" />
      </form>
    </div>
    <div class="four columns" style="text-align:right">
	    <p><a href="{{url}}">{{url_linktext}} <i class="foundicon-right-arrow"></i></a></p>
    </div>
</div>
  

